You can run this notebook to make sure that the dataset has been downloaded properly.

In [2]:
import pandas as pd

df = pd.read_csv('../../data/datasets/train.tsv', sep="\t")
df.head()

,tweet_id,tweet_text,class_label,event_type,specific_event_name
0,798064896545996801,I feel a little uneasy about the idea of work ...,other_relevant_information,earthquake,kaikoura_earthquake_2016
1,797913886527602688,#eqnz Interislander ferry docking aborted afte...,caution_and_advice,earthquake,kaikoura_earthquake_2016
2,797867944546025472,Much of New Zealand felt the earthquake after ...,other_relevant_information,earthquake,kaikoura_earthquake_2016
3,797958935126773760,"Noticing a lot of aftershocks on eqnz site, bu...",sympathy_and_support,earthquake,kaikoura_earthquake_2016
4,797813020567056386,"RT @E2NZ: Mike Clements, NZ police, says obvio...",infrastructure_and_utility_damage,earthquake,kaikoura_earthquake_2016

In [3]:
df.tail()

,tweet_id,tweet_text,class_label,event_type,specific_event_name
61947,2052815993,@mikocarson yeah he has to,NaN,unrelated,NaN
61948,2218846223,"@hramos Good, cuz I dont have any more high-re...",NaN,unrelated,NaN
61949,1980008781,marco leading hi home gp comeon,NaN,unrelated,NaN
61950,2017390040,@markhoppus omg I woke up 15 min late why is i...,NaN,unrelated,NaN
61951,2261798988,Apparently I still like boys... Sorry @melbot,NaN,unrelated,NaN