How to use the dataset (can delete this later):

In [15]:
import pandas as pd

df = pd.read_csv('../../data/combined_train.tsv', sep="\t")
df.head()

,tweet_id,tweet_text,class_label,event_type,specific_event_name
0,798064896545996801,I feel a little uneasy about the idea of work ...,other_relevant_information,earthquake,kaikoura_earthquake_2016
1,797913886527602688,#eqnz Interislander ferry docking aborted afte...,caution_and_advice,earthquake,kaikoura_earthquake_2016
2,797867944546025472,Much of New Zealand felt the earthquake after ...,other_relevant_information,earthquake,kaikoura_earthquake_2016
3,797958935126773760,"Noticing a lot of aftershocks on eqnz site, bu...",sympathy_and_support,earthquake,kaikoura_earthquake_2016
4,797813020567056386,"RT @E2NZ: Mike Clements, NZ police, says obvio...",infrastructure_and_utility_damage,earthquake,kaikoura_earthquake_2016